.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.login-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  /* height: 70vh;
  width: 50vw; */

}

.login-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  height: 70vh;

}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.logo-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.login-form h2 {
  margin-top: 0;
  color: #333;
  display: flex;
  justify-content: center;
}
.login-form p {
  margin-top: 0;
  color: #333;
  display: flex;
  justify-content: center;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 20px;
}

.social-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.social-buttons img {
  width: 2rem;
  height: 2rem;
}

.or {
  margin: 1rem 0;
  color: #888;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="email"],
input[type="password"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #555;
}

button[type="submit"] {
  padding: 0.5rem;
  background-color: #7f56d9;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.forgot-password {
  margin-top: 1rem;
  color: #7f56d9;
  cursor: pointer;
}

a {
  color: #7f56d9;
  text-decoration: none;
}
