.RadioButtonPos {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.MultiViewImagesHeading {
  padding-top: 8vh;
  font-size: 3em;
  display: flex;
  justify-content: center;
}

.MultiViewinput-container {
  display: flex;

  align-items: center;

  width: 40vw;
  height: auto;
}

.MultiViewinput-field {
  flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  font-size: 14px;
  width: 100%;
  height: auto;
  resize: vertical; 
}

/* Your existing CSS styles for the button remain unchanged */


.MultiViewgenerate-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 2px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 0px 20px 20px 0px;
  height: 11.75vh;
}

.MultiViewInputPos {
  display: flex;
  justify-content: center;
  margin-top: 210px;
}

.RadiobuttonMainDiv {
  display: flex;
  border: 1px solid #ccc;
  background-color: rgb(244, 105, 55);
  border-radius: 20px;
  width: 15em;
  justify-content: center;
  padding: 5px 5px;
  box-shadow: rgb(24, 23, 23) 0px 0px 4px 1px inset;
}

.RadioButton {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
  width: 150px;
  background-color: rgb(244, 105, 55);
}

.RadioButton.active {
  padding: 8px 16px;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
  transition: background-color 0.3s ease;
  width: 200px;
}

.container {
  display: flex;
}

.left-section {
  flex: 1;
  padding: 20px;
}

.right-section {
  flex: 1;
  padding: 20px;
}

.mvImage
{
  height: auto;
  width: auto;
  border: solid 3px;
  border-radius: 10px;
  padding: 2px;
  /* overflow: hidden;  */
}

.MultiViewImage
{
  padding: 1px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* .mvimg
{
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

