.RadioButtonPos {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.topPart
{
  height: auto;
  width: auto;
  padding-top: 9vh;
}

.sizedBox
{
  height: 8vh;
}

.ThreeDModelHeading {
  font-size: 3em; /* Decrease the font size of the title */
  display: flex;
  justify-content: center;
}

.ThreeDinput-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 30vw;
}

.ThreeDinput-field {
  flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  font-size: 14px;
  width: 100%;
  height: auto;
  resize: vertical; 
 }

/* Your existing CSS styles for the button remain unchanged */


/* Your existing CSS styles remain unchanged */

.ThreeDgenerate-button
{
  background-color: #000;
  color: #fff;
  border: none;
  padding: 2px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 0px 20px 20px 0px;
  height: 11.75vh;
}


.ThreeDInputPos {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
}

.RadiobuttonMainDiv {
  display: flex;
  border: 1px solid #ccc;
  background-color: rgb(244, 105, 55);
  border-radius: 20px;
  width: 15em;
  justify-content: center;
  padding: 5px 5px;
  box-shadow: rgb(24, 23, 23) 0px 0px 4px 1px inset;
}

.RadioButton {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
  width: 150px;
  background-color: rgb(244, 105, 55);
}

.RadioButton.active {
  padding: 8px 16px;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
  transition: background-color 0.3s ease;
  width: 200px;
  box-shadow: black 10px;
}

.container {
  display: flex;
}


.right-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) by default */
}

.download-button {
  margin-bottom: auto; /* Push the button to the top of the section */
  align-self: flex-end; /* Align the button to the right */
}

/* Your existing CSS styles remain unchanged */
